@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=latin-ext');

@font-face {
font-family: "Big Noodle Titling Oblique";
src: url("../Fonts/BigNoodleTitling-Oblique.ttf");
}

@font-face {
  font-family: "Big Noodle Titling";
  src: url("../Fonts//BigNoodleTitling.ttf");
  }

@font-face {
  font-family: "Nunito";
  src: url("../Fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto-Regular.ttf");
}

:root{
  --black:#141414;
  --blackLight:#181818;
  --gray: #222;
  --light:#444;
  --main: #2be;
  --mainDark: #11617c;
  --gameNameColor: #b6163e;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Nunito;
  scrollbar-color: dark;
  scrollbar-width: thin;
}

a{
  color: inherit;
}
a:active{
  color: inherit;
}
a:visited{
  color: inherit;
}

.outshade{
  box-shadow: 0.15em 0.15em 0.3em #00000079, -0.15em -0.15em 0.3em #ffffff09;
}
.inshade{
  box-shadow: inset 0.15em 0.15em 0.2em #0000005b, inset -0.15em -0.15em 0.3em #ffffff09;
}



.translateLeft{
  transform: translate(-50%,0);
}

.translateTop{
  transform: translate(0,-50%);
}

.translateCenter{
  transform: translate(-50%,-50%);
}

/* Body */

body{
  background-color: var(--black);
  color: var(--light);
}

#navigation{
  position: fixed;
  width: 100%;
  height: 3em;
  background: var(--gray);
  box-shadow: 0 0.1em 5px var(--black);
  z-index: 5;
}

#mainNavigation{
  position: absolute;
  display: inline-flex;
  left: 50%;
  top: 50%;
}

#mainNavigation > * {
  margin: 0 0.3em;
}

/* Home button */

#homeButton{
  position: relative;
  background: var(--black);
  width: 4em;
  height: 2em;
  border-radius: 1em;
  transition-duration: 100ms;
}

#homeButton > *{
  position: absolute;
  font-size: 130%;
  left: 50%;
  top: 50%;
}
#homeButton:hover{
  background: var(--blackLight);
}

/* Search Bar */

#searchBar{
  position: relative;
  background: var(--black);
  height: 2em;
  width: 2.5em;
  border-radius: 1em;
  color: var(--light);
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

#searchBar:hover, #searchBar:focus{
  width: 20em;
}

#searchBar > *:not(a){
  opacity: 0%;
  transition-duration: 250ms;
}

#searchBar:hover > *, #searchBar:active > *{
  opacity: 100%;
}

#searchBar > *{
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
}
#searchBar > a{
  left: 1.25em;
}
#searchBar > p{
  left: 50%;
  top: 50%;
  text-transform: none;
  font-weight: 500;
  font-size: 110%;
  user-select: none;
}
#searchBar > .fa-times{
  right: 0.5em;
}
#searchBarForm{
  position: absolute;
  left: 50%;
  width: inherit;
  height: inherit;
  transform: translate(-50%,-50%);
  border-radius: inherit;
  text-align: center;
  border: 0;
  background-color: var(--black);
  color: var(--light);
}

/*////////////////////////////// CART BUTTON //////////////////////////// */

#cart{
  position: relative;
  background: var(--black);
  width: 4em;
  height: 2em;
  border-radius: 1em;
  transition-duration: 100ms;
}

#cart>*{
  position: absolute;
  top:50%;
}
#cart>.fa-shopping-cart{
  left: 0.9em;
  font-size: 130%;
}
#cartItemNumber{
  background: var(--main);
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  right: 0.3em;
}
#cartItemNumber > p{
  position: absolute;
  color: var(--black);
  font-weight: 600;
  left: 50%;
  top: 55%;
}
#cart:hover{
  background: var(--blackLight);
}

/* Log in Button*/

#logInButton {
  position: absolute;
  background: var(--black);
  color: var(--main);
  right: -1.5em;
  top: 50%;
  width: 5em;
  height: 2em;
  border-radius: 1em;
  opacity: 0;
}
#logInButton > * {
  position: absolute;
  white-space: nowrap;
  text-transform: none;
  font-size: 110%;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#logInButton:hover{
  background: var(--blackLight);
}

/*//////////////////////////SHOWCASE MAIN PAGE/////////////////////*/

#showcase{
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40em;
  background: radial-gradient(circle at top,var(--gray), var(--black) 90vh);
}

#showcaseGames{
  position: absolute;
  height: 40em;
  width: 99%;
  max-width: 90em;
  top: 50%;
  left: 50%;
  border-radius: 1em;
  transform: translate(-50%, -50%);
}
#showcaseGames > * {
  transform: translate(-50%,-50%);
}
#showcaseGames > * > img{
  height: inherit;
  width: inherit;
  object-fit: cover;
  border-radius: inherit;
  box-shadow: 0 0.5em 1em var(--black);
}

#showcaseMainGame{
  opacity: 1;
  position: absolute;
  transform: translate(-50%,0);
  top: 5em;
  left: 50%;
  height: 22em;
  width: 37em;
  border-radius: 1em;
  z-index: 1;
}

#showcaseNextGame{
  opacity: 0.3;
  position: absolute;
  transform: translate(-50%,0);
  top: 7em;
  left: 75%;
  height: 17em;
  width: 28em;
  border-radius: 1em;
  z-index: 0;
}
#showcasePreviousGame{
  opacity: 0.3;
  position: absolute;
  transform: translate(-50%,0);
  top: 7em;
  left: 25%;
  height: 17em;
  width: 28em;
  border-radius: 1em;
  z-index: 0;
}



#showcaseGameName{
  position: absolute;
  height: 9em;
  width: 30em;
  transform: translate(-50%,0);
  left: 50%;
  top: 28em;
}
#showcaseSelectors{
  position: absolute;
  display: inline-flex;
  justify-content: center;
  left: 50%;
  top: 0em;
  height: 1em;
  width: 15em;
}
.showcaseSelector{
  height: 0.7em;
  width: 1.5em;
  background: var(--gray);
  margin: 0 0.2em;
  border-radius: 1em;
}
#showcaseGameNameName{
  font-family: "Big Noodle Titling Oblique";
  position: absolute;
  top: 0.6em;
  left: 50%;
  color: var(--gameNameColor);
  white-space: nowrap;
  font-size: 400%;
}
#showcaseButton{
  position: absolute;
  background: var(--gray);
  width: 13em;
  height: 2em;
  border-radius: 2em;
  border:solid 0.13em var(--main);
  top: 8em;
  left: 50%;
  transition-duration: 150ms;

}
#showcaseButton > * {
  color: var(--main);
  position: absolute;
  white-space: nowrap;
  font-size: 120%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
#showcaseButton:hover{
  transform: scale(1.05) translate(-47.5%,-47.5%);
}


/* Featured */

#featured {
  position: relative;
  background: var(--black);
  height: 60em;
  min-height: 60em;
  width: 100%;
}
#featured > div {
  max-width: 90em;
}
#bestSelling{
  position: absolute;
  width: 90vw;
  height: 20em;
  top: 4em;
  left: 50%;
  border-radius: 1em;
}
#bestSelling > .inline{
  position: absolute;
  top: -3.5em;
  left: 50%;
}
#bestSelling > .inline > p{
  color: var(--main);
  text-transform: uppercase;
  font-size: 300%;
  margin-left: 0.2em;
  font-family: "Big Noodle Titling Oblique";
}
#bestSelling > .inline > i {
  color: var(--main);
  font-size: 250%;
  transform: translate(0%, 14%);
}

#bestSellingGameList{
  position: absolute;
  display: inline-flex;
  justify-content: center;
  width: 90vw;
  max-width: 90em;
  height: 19em;
  left: 50%;
  top: 0.5em;
  border-radius: 1em;
  overflow: hidden;
}
.bestSellingGame{
  position: relative;
  top: 0.2em;
  height: 18em;
  width: 22em;
  border-radius: 1em;
  color: var(--main);
  transition-duration: 250ms;
  transform: scale(0.95);
}
.bestSellingGame:hover{
  transform: scale(1.00);
}
.bestSellingGame > p {
  font-family: "Big Noodle Titling Oblique";
  position: absolute;
  transform: translate(-50%,0);
  left: 50%;
  bottom: 0.5em;
  white-space: nowrap;
  font-size: 175%;
  opacity: 0.75;
}
.bestSellingGame > img {
  position: absolute;
  top: 0.4em;
  width: 95%;
  height: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0.5em;
  object-fit: cover;
}

#newReleases{
  position: absolute;
  width: 90vw;
  height: 20em;
  top: 35em;
  left: 50%;
  border-radius: 1em;
}
#newReleases > .inline{
  position: absolute;
  top: -3.5em;
  left: 50%;
}
#newReleases > .inline > p{
  color: var(--main);
  text-transform: uppercase;
  font-size: 250%;
  margin-left: 0.2em;
  font-family: "Big Noodle Titling Oblique";
}
#newReleases > .inline > i {
  color: var(--main);
  font-size: 250%;
  transform: translate(0%, 14%);
}

#newReleasesGameList{
  position: absolute;
  display: inline-flex;
  justify-content: center;
  width: 90vw;
  max-width: 90em;
  height: 19em;
  left: 50%;
  top: 0.5em;
  border-radius: 1em;
  overflow: hidden;
}


/*//////////////////////////////FOOTER ////////////////////////////////*/

#footer{
  position: relative;
  background: var(--black);
  color: var(--gray);
  width:100%;
  height:2.5em;
  z-index: 4;
}

#footer > *{
  position: absolute;
  top: 50%;
}
#footer > span{
  color: var(--main);
  right: 1em;
  font-size: 150%;
}
#footer > span > *{
  margin: 0 0.1em;
}
#footer > p{
  color: var(--light);
  left: 1em;
  font-size: 75%;
}

.active{
  color: var(--main);
}
.backActive{
  background-color: var(--main);
}

.inline {
  display: inline-flex;
  justify-content: center;
}


/*//////////////////////////// GAME PAGE /////////////////////////*/


.rating {
  position: fixed;
  bottom: 3em;
  left: 1em;
  height: 5em;
}
.rating >img {
  height: 100%;
}

.topPage{
  position: relative;
  width: 80%;
  max-width: 60em;
  height: 47em;
  border-radius: 1em;
  transform: translate(-50%, 0);
  left: 50%;
  top: 5em;
  color: var(--main);
  background: var(--blackLight);
}
.topPage > h1{
  position: absolute;
  font-family: "Big Noodle Titling Oblique";
  top: 7.5em;
  left: 50%;
  border-bottom: solid;
  padding-bottom: 0.1em;
  font-weight: 500;
  white-space: nowrap;
  font-size: 4em;
  transform: translate(-50%, -50%);
}
.topPage > p {
  position: absolute;
  font-family: "Big Noodle Titling";
  top: 21em;
  width: 80%;
  left: 50%;
  text-align: center;
  font-size: 1.8em;
  transform: translate(-50%, -50%);
}

.mainImage{
  width: 100%;
  height: 25em;
  position: absolute;
  transform: translate(-50%,0);
  left: 50%;
  top: 0;
}
.mainImage > img{
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
  border-radius: 1em;
}

.buyButton{
  position: absolute;
  background: var(--mainDark);
  color: white;
  height: 4em;
  width: 18em;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -2.5em;
  border-radius: 5em;
}

.buyButton > p {
  position: absolute;
  font-size: 1.4em;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 20%;
}
.foregroundButton{
  position: absolute;
  background: var(--main);
  height: 100%;
  width: 60%;
  right: 0;
  top: 0;
  border-radius: 5em;
  transition-duration: 250ms;
}
.foregroundButton:hover{
  transform: scale(1.05);
}
.foregroundButton > p{
  position: absolute;
  font-size: 1.3em;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  top: 50%;
  left: 50%;
}



.bottomPage{
  position: relative;
  width: 80%;
  max-width: 60em;
  border-radius: 1em;
  transform: translate(-50%, 0);
  left: 50%;
  top: 6em;
  color: var(--main);
  background: var(--blackLight);
  margin-bottom: 7em;
  z-index: -1;
}
.bottomPage > .info {
  position: absolute;
  height: 11em;
  width: 80%;
  top: 4em;
  left: 50%;
  transform: translate(-50%, 0);
}
.info > *{
  position: absolute;
  width: 40%;
  height: 5em;
}
.info > .develop {
  top: 0.5em;
  left: 2em;
}
.info > .publish {
  top: 0.5em;
  right: 2em;
}
.info > .release {
  bottom: 0.5em;
  left: 2em;
}
.info > .rated {
  bottom: 0.5em;
  right: 2em;
}
.info > * > h1 {
  color: var(--light);
  font-weight: 500;
  font-size: 0.9em;
}
.info > * > p {
  position: absolute;
  color: white;
  font-size: 1.2em;
  transform: translate(-50%, 0);
  white-space: nowrap;
  left: 50%;
  top: 1em;
}

.bottomPage > .images {
  position: relative;
  top: 18em;
  width: 100%;
  margin-bottom: 2em;
}

.images > img {
  width: 100%;
  border-radius: 1em;
  margin-bottom: 1.5em;
  object-fit: cover;
}



/*///////////////////////////// CART /////////////////////////////*/


.background100 {
  position: relative;
  height: 57em;
  width: 100%;
  background: var(--black);
}
.background100 > * {
  position: absolute;
  transform: translate(-50%,0);
  left: 50%;
}
.background100 > .buyList {
  width: 80%;
  max-width: 60em;
  height: 38em;
  top: 5em;
  background: var(--blackLight);
  border-radius: 1em;
  padding: 1em 0;
}

.buyList > a > .buyItem {
  position: relative;
  width: 85%;
  height: 7em;
  background: var(--gray);
  margin-top: 1em;
  transform: translate(-52%, 0);
  left: 50%;
  border-radius: 1em;
  box-shadow: 0 0.3em 0.5em var(--black);
}

.buyItem > img {
  position: absolute;
  left: 0;
  background: red;
  height: 100%;
  object-fit: cover;
  border-radius: 1em 0 0 1em;
}
.buyItem > h1 {
  position: absolute;
  left: 7em;
  font-weight: 500;
  transform: translate(0,-50%);
  top: 50%;
  font-family: "Big Noodle Titling Oblique";
  color: var(--main);
  font-size: 2em;
  text-align: left;
}
.buyItem > p {
  position: absolute;
  right: 1.5em;
  transform: translate(0,-50%);
  top: 50%;
  font-family: "Big Noodle Titling Oblique";
  color: var(--main);
  font-size: 3em;
  text-align: left;
}
.buyItem > div {
  position: absolute;
  border-radius: 50%;
  background: var(--gray);
  height: 2em;
  width: 2em;
  font-size: 1.5em;
  right: -1em;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 1;
  box-shadow: 0 0.1em 0.3em var(--black);
}

.buyItem > div > * {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 49%;
  top: 49%;
}

.background100 > .total {
  width: 70%;
  max-width: 50em;
  height: 4em;
  top: 45.5em;
  background: var(--blackLight);
  border-radius: 1em;
}
.total > * {
  position: absolute;
  transform: translate(-50%,-50%);
  font-size: 2em;
  color: var(--light);
}
.total > h1 {
  left: 40%;
  top: 50%;
}
.total > p {
  font-family: "Big Noodle Titling Oblique";
  font-size: 3em;
  color: var(--main);
  left: 60%;
  top: 50%;
}

.background100 > a > .continueButton {
  position: absolute;
  transform: scale(1) translate(-50%, 0);
  width: 15em;
  height: 4em;
  top: 51em;
  background: var(--main);
  border-radius: 2em;
  transition-duration: 600ms;
}
.background100 > a > .continueButton:hover{
  transform: scale(1.05) translate(-47.5%, 0);
}
.continueButton > p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5em;
  color: white;
  transform: translate(-50%, -50%);
}


/*////////////////////// SEARCH ///////////////////////////*/



.testingBox {
  height: 5em;
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.searchContainer {
  position: absolute;
  padding-top: 1em;
  width: 90%;
  max-width: 60em;
  height: 85%;
  transform: translate(-50%, 0);
  left: 50%;
  top: 6em;
  border-radius: 1em;
  background: var(--blackLight);
}

.searchContainer > p {
  position: absolute;
  top: -1.5em;
  transform: translate(-50%,0);
  left: 50%;
  font-size: 1.1em;
  color: var(--light);
}

.searchContainer > a > .searchResult {
  background: var(--gray);
  color: var(--main);
  position: relative;
  transform: translate(-50%,0);
  left: 50%;
  width: 90%;
  height: 4em;
  border-radius: 5em;
  margin: 1em 0;
}
.searchResult > * {
  font-family: "Big Noodle Titling Oblique";
}
.searchResult > h1 {
  font-size: 2em;
  font-weight: 500;
  position: absolute;
  transform: translate(0,-50%);
  top: 50%;
  left: 1em;
}
.searchResult > p {
  position: absolute;
  font-size: 1.5em;
  top: 50%;
  transform: translate(0,-50%);
  right: 6em;
}
.searchResult > .price {
  position: absolute;
  background: var(--main);
  right: 0;
  height: 100%;
  width: 7.5em;
  border-radius: 5em;
}
.searchResult > .price > p {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Big Noodle Titling Oblique";
  font-size: 2em;
  transform: translate(-50%,-50%);
}



.adminForm {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 52%;
  left: 50%;
  width: 90%;
  max-width: 60em;
  height: 52em;
  background:var(--blackLight);
  border-radius: 1em;
}
.adminForm > p{
  color: var(--main);
  font-family: "Big Noodle Titling Oblique";
  position: absolute;
  top: 0.5em;
  font-size: 200%;

}

.adminForm>*{
  position: absolute;
  transform: translate(-50%);
  left: 50%;
}

.adminForm>.formGameName{
  border: none;
  height: 2em;
  width: 15em;
  background: var(--black);
  color: var(--main);
  border-radius: 5em;
  font-family: "Nunito";
  font-size: 120%;
  top: 5em;
  transition-duration: 250ms;
  text-align: center;
}


.adminForm>.formGameDesc{
  border: none;
  width: 90%;
  height: 2em;
  background: var(--black);
  color: var(--main);
  border-radius: 1em;
  font-family: "Nunito";
  font-size: 120%;
  top: 8em;
  transition-duration: 250ms;
  text-align: center;
}

.adminForm>.formGamePrice{
  border: none;
  width: 5em;
  height: 2em;
  background: var(--black);
  color: var(--main);
  border-radius: 1em;
  font-family: "Nunito";
  font-size: 120%;
  top: 11em;
  transition-duration: 250ms;
  text-align: center;
}

.adminForm>.formGameDeveloper{
  border: none;
  width: 15em;
  height: 2em;
  background: var(--black);
  color: var(--main);
  border-radius: 1em;
  font-family: "Nunito";
  font-size: 120%;
  top: 13.5em;
  transition-duration: 250ms;
  text-align: center;
}

.adminForm>.formGamePublisher{
  border: none;
  width: 15em;
  height: 2em;
  background: var(--black);
  color: var(--main);
  border-radius: 1em;
  font-family: "Nunito";
  font-size: 120%;
  top: 16em;
  transition-duration: 250ms;
  text-align: center;
}

.adminForm>.formGameRelease{
  border: none;
  width: 11em;
  height: 2em;
  background: var(--black);
  color: var(--main);
  border-radius: 1em;
  font-family: "Nunito";
  font-size: 120%;
  top: 18.5em;
  transition-duration: 250ms;
  text-align: center;
}

.adminForm>.formGamePegi{
  border: none;
  width: 7em;
  height: 2em;
  background: var(--black);
  color: var(--main);
  border-radius: 1em;
  font-family: "Nunito";
  font-size: 120%;
  top: 21em;
  transition-duration: 250ms;
  text-align: center;
}

.adminForm>.formGameFileMain{
  top: 38.5em;
}

.adminForm>.formGameFileImg1{
  top: 44em;
}
.adminForm>.formGameFileImg2{
  top: 47em;
}
.adminForm>.formGameFileImg3{
  top: 50em;
}
.adminForm>.formGameFileImg4{
  top: 53em;
}

.adminForm>input[type=submit]{
  background: var(--main);
  border: none;
  height: 2em;
  width: 5em;
  color: white;
  border-radius: 5em;
  font-family: "Nunito";
  font-size: 120%;
  bottom: 1em;
  transition-duration: 250ms;
}
.adminForm>input[type=submit]:hover{
  transform: scale(1.1) translate(-45%);
}

.adminForm > .pGameImageMain {
  top: 20em;
  font-size: 1.5em;
}
.adminForm > .pGameImage {
  top: 23em;
  font-size: 1.5em;
}


